__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.idea/
data/kernels/de440.bsp
lunarcomms.egg-info/
notebooks/.ipynb_checkpoints/
.DS_Store

# generated example artifacts
examples/*.mat
examples/*.png

.venv/
